@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

body {
    font-size: 15px;
    margin: 0;
}

.main-main {
    margin: 100px;
}

/* HEADER */

.main-header {
    background-image: url('../main/images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(0, 0%, 100%);
    padding: 50px;
}

.hamburger {
    display: none;
}

.nav-mobile {
    display: none;
}

.nav-desktop, .nav-mobile {
    display: flex;
    justify-content: space-between;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

.nav-desktop ul, .nav-mobile ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: 0;
}

.nav-desktop ul li, .nav-mobile ul li {
    padding: 10px 20px 10px 0;
}

.nav-desktop ul li a, .nav-mobile ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    position: relative;
    padding-bottom: 5px;
}

.nav-desktop ul li a:active::before {
    content: '';
    position: absolute;
    border-bottom: 2px solid white;
    left: 25%;
    bottom: 0;
    height: 1px;
    width: 50%;
}


.main-header h1 {
    width: 30%;
    margin: 100px;
    padding: 20px;
    border: 2px solid hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* LEADER SECTION */

.leader-section {
    display: flex;
    align-items: end;
    position: relative;
    width: 70%;
    margin: 120px auto;
    color: hsl(0, 0%, 41%);
}

.leader-section-content {
    padding: 70px;
    font-family: 'Josefin Sans', sans-serif;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    right: 290px;
    bottom: -80px;
}

.leader-section-content h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 300;
}

.leader-section-image-wrapper {
    width: 600px;
}

.leader-section-image-wrapper img {
    width: 100%;
}

/* CREATIONS SECTION */

.section-header {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    color: hsl(0, 0%, 41%);
}

.section-header h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 300;
    justify-content: space-between;
}

.section-header .see-btn, .btn-see-mobile {
    padding: 5px 20px;
    border: 1px solid hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-size: 12px;
    outline: none;
    align-self: flex-end;
    cursor: pointer;
}

.section-header .see-btn:active {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
}

.btn-see-mobile {
    display: none;
    margin: 0 auto;
}

.creations-section main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.articles-mobile {
    display: none;
}

.creations-section-article {
    margin: 30px;
    position: relative;
}

.creations-section-article h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    position: absolute;
    left: 30px;
    bottom: 10px;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    width: 70%;
    z-index: 1;
}

.article-image-wrapper {
    width: 220px;
}

.article-image-wrapper img {
    width: 100%;
}

.creations-section-article:active img {
    width: 100%;
    opacity: 0.5;
}

.creations-section-article:active h3 {
    color: #000000;
}


/* FOOTER */

footer {
    font-family: 'Josefin Sans', sans-serif;

    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    padding: 30px 100px;
}

.footer-right ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

ul li i {
    color: hsl(0, 0%, 100%);
}

.footer-logo-image-wrapper {
    width: 170px;
}

.footer-logo-image-wrapper img {
    width: 100%;
}

.footer-right ul li {
    padding-left: 15px;
}

.footer-right p {
    color: hsl(0, 0%, 55%);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

.footer-right ul li a:active {
    border-bottom: 2px solid white;
}


@media screen and (max-width: 375px) {

    html {
        width: 100%;
    }

    /* 
    body {
        position: absolute;
    } */

    .main-main {
        margin: 30px;
    }

    /* HEADER */

    .nav-desktop {
        display: none
    }

    .nav-mobile {
        display: flex;
    }

    .main-header {
        padding: 50px 20px;
        background-image: url('../main/images/mobile/image-hero.jpg');
    }

    .main-header ul {
        display: none;
    }

    .main-header h1 {
        margin: 120px auto;
        overflow: hidden;
        width: fit-content;
        max-width: 250px;
        font-size: 35px;
    }


    .nav-mobile-content {
        display: none;
        padding: 50px 20px;
    }

    .nav-mobile-header-container {
        display: flex;
        justify-content: space-between;
    }

    .hamburger {
        display: block;
    }

    .exit {
        display: none;
    }

    .hamburger:active+.exit {
        display: block;
        position: absolute;
        background-color: black;
        color: #ffffff;
        top: 50px;
        /* left: 0; */
        right: 30px;
        bottom: 20px;
        z-index: 3;
        text-align: center;
    }

    .hamburger:active~.nav-mobile-content {
        display: block;
        position: absolute;
        background-color: black;
        color: #ffffff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        text-align: center;
    }

    .hamburger:active~.nav-mobile-content ul {
        display: block;
        background-color: black;
        text-align: start;
        text-transform: uppercase;
        padding-top: 100px;
        font-size: 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
    }

    .hamburger:active~.nav-mobile-content ul li {
        padding-bottom: 20px;
    }

    .exit:active+.nav-mobile-content, .exit:active {
        display: none;
    }

    .leader-section {
        margin: 0 auto;
        display: block;
        width: 100%;

    }

    .leader-section-image-wrapper {
        width: auto;
    }

    .leader-section-content {
        position: static;
        max-width: 280px;
        margin: auto;
        margin-bottom: 70px;
        padding: 0;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        background-color: hsl(0, 0%, 100%);
    }

    /* CREATIONS SECTION */

    .section-header {
        display: block;
        margin: 0
    }

    .section-header h2 {
        width: 100%;
        text-align: center;
    }

    .creations-section .section-header button {
        display: none
    }

    .btn-see-mobile {
        display: block;
    }


    .creations-section main {
        justify-content: center;
    }

    .articles-desktop {
        display: none;
    }

    .articles-mobile {
        display: block;
    }

    .creations-section-article {
        margin: 0;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .article-image-wrapper {
        width: auto;
    }

    .creations-section-article h3 {
        bottom: -10px;
        left: 15px;
        width: 50%;
    }

    /* FOOTER */

    footer {
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }

    .footer-left nav {
        justify-content: center;
    }

    .footer-left ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-left ul li {
        padding: 10px;
    }

    .footer-right ul {
        justify-content: center;
    }
}